# pixi environments
.pixi/*
!.pixi/config.toml

# ide
.vscode/*

# python cache
__pycache__/
*.pyc

# key
device/encryptor/id
device/encryptor/master_key
generate_key.bat

# data
server/server.db
server/server.db-shm
server/server.db-wal

#config
gui_state.json